<div class="header__nav-wrapper">
  <nav class="header__nav nav">
    <div class="nav__logo-wrapper">
      <a class="header-logo" href="index.html" aria-label="Логотип сайта Pink">
        <svg class="header-logo__image header-logo__image--mobile" width="74" height="23">
          <use xlink:href="images/sprite.svg#logo-pink-white-mobile"></use>
        </svg>
        <svg class="header-logo__image header-logo__image--tablet" width="146" height="40">
          <use xlink:href="images/sprite.svg#logo-pink-white-tablet"></use>
        </svg>
        <svg class="header-logo__image header-logo__image--desktop" width="146" height="40">
          <use xlink:href="images/sprite.svg#logo-pink-white-desktop"></use>
        </svg>
      </a>
      <button class="nav__toggle" type="button" id="toggle-button" aria-label="Меню"></button>
    </div>
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="index.html">Главная</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="photo.html">Фотографии</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="form.html">Конкурс</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="https://htmlacademy.ru">HTML Academy</a>
      </li>
    </ul>
  </nav>
</div>
